body{
    background-image: url("img/Landing.jpg");
    color: white;
}
ul {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
}
li {
    float: left;
}
.nav-item{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(65, 65, 68);
    color: white;
}
.intro {
    color: black;
    margin: 5px;
    text-align: justify;

}
section {
    margin-left: 30px;
    margin-right: 30px;
}
