body{
    background-image: url("img/Black\ knight.jpg");
    background-position: top;
    color: white;
}

ul {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
}
li {
    float: left;
}
.nav-item{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(65, 65, 68);
    color: white;
}
