body{
    background-image: url("Resources/Landing.jpg");
}

.container {
    padding-top: 100px;
}
#introText {
    color: white;
}
#submit {
    color: white;
    background-color: black;
}
#submit:hover {
    background-color: rgb(69, 78, 87);
}